<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    Hola, esta es mi primera página web.
    <br>
    {% for edad in ages %}
    {% if edad > 18 %}
    <p>La edad del estudiante es {{edad}}</p>
    <p style="text-align: justify; font-weight: 200; color: chocolate;">Eres mayor de edad</p>
    {% endif %}
    {%endfor %}
</body>
</html>