<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {%for curso in object_list%}
    <p>Nombre del Curso: {{curso.nombre}}</p>
    <button><a href="{% url 'CursosDetalle' curso.id %}">Ver Detalle de Curso</a></button>
    <button><a href="{% url 'CursosActualizar' curso.id%}">Editar Curso</a></button>
    <button><a href="{% url 'CursosBorrar' curso.id%}">Borrar Curso</a></button>
    {%endfor%}
    <br>
    <a href="{% url 'CursosCrear'%}">Crear Curso</a>
</body>
</html>