{%extends 'AppCoder/padre.html'%}
{%block titulo%} Lista de Juegos
{%endblock%}

{%block descripcion%} Esta es la lista de todos los juegos que hay actualmente en la página {%endblock%}
{%block show%}
    {%for game in games%}
    <p>Nombre: {{game.nombre}}</p>
    <p>Descripcion: {{game.descripcion}}</p>
    <p>Reseña: {{game.resena}}</p>
    <button><a href="{% url 'JuegosEliminar' game.nombre %}">Eliminar Juego</a></button>
    <button><a href="{% url 'JuegosEditar' game.nombre %}">Editar Juego</a></button>
    {%endfor%}
    <br>
    <button><a href="{% url 'JuegosCrear' %}">Agregar Juego</a></button>
    {%endblock%}
